/*↓↓↓ GENERAL SECTION ↓↓↓*/  /*↓↓↓ GENERAL SECTION ↓↓↓*/  /*↓↓↓ GENERAL SECTION ↓↓↓*/
body {
  margin: 0px;
  background-color: rgb(22, 21, 21);
  min-width: 1050px;
}

p {
  margin: 0px;
  color: #F1F1F1;
  font-family: 'Courier New';
}

figure {
  margin: 0px;
}

h1 {
  margin-top: 8px;
  font-family: 'Courier New';
  font-size: clamp(32px, 2.75vw, 60px);
  font-weight: 400;
  color: rgba(232, 217, 213, 0.90);
  text-align: center;

  text-decoration: 2px underline rgba(232, 217, 213, 0.08);
  text-underline-offset: 18px;
}

hr {
  margin-top: 20px;
  border: none;
  border-top: 2px solid rgba(232, 217, 213, 0.08);
}

tr {
  font-family: 'Courier New';
  font-size: clamp(14px, 1.25vw, 19px);
  color: rgba(234, 234, 230, 0.70);
  font-weight: 700;
}
th {
  font-weight: 900;
}

/* White cells */
tr:nth-child(even) :is(td,th):nth-child(even),
tr:nth-child(odd) :is(td,th):nth-child(odd) {
  background: rgba(234, 234, 230, 1.0);
  color: rgba(21, 21, 20, 0.60);
}

/* First column (match number) */
tr:nth-child(2n+3) :is(td,th):nth-child(1),
tr:nth-child(even) :is(td,th):nth-child(1) {
  font-size: clamp(14px, 2vw, 26px);
  font-weight: 900;
}

/* First row (headings) */
tr:nth-child(1) :is(td,th):nth-child(odd),
tr:nth-child(1) :is(td,th):nth-child(even) {
  font-size: clamp(10px, 1.25vw, 30px);
  color: rgba(15, 15, 14, 0.90);
}
tr:nth-child(1) :is(td,th):nth-child(even) {
  color: rgba(240, 240, 236, 0.90);
}
/*↑↑↑ GENERAL SECTION ↑↑↑*/  /*↑↑↑ GENERAL SECTION ↑↑↑*/  /*↑↑↑ GENERAL SECTION ↑↑↑*/  


/*↓↓↓ ANECDOTES SECTION ↓↓↓*/  /*↓↓↓ ANECDOTES SECTION ↓↓↓*/  /*↓↓↓ ANECDOTES SECTION ↓↓↓*/
.anecdotes_lights_section_background {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #272727;
  padding: 60px 0px 80px 0px;
  box-shadow: inset 0px -40px 20px -25px rgba(22, 21, 21, 1);
}


.anecdotes_panel_foreground {
  max-width: 85%;
  background-color: rgb(36, 35, 35);
  box-shadow: 0px 0px 36px rgba(0, 0, 0, 0.75);
  border-radius: 73px;
  padding: 3.25%;
}

.anecdotes_panel_background {
  display: flex;
  column-gap: 2%;
  padding: 2% 5%;

  background-color: rgb(31, 28, 28);
  box-shadow: inset 0px 0px 12px rgba(0, 0, 0, 0.42);
  border-radius: 48px;
}

.single_anecdote_red_circle {
  background-color: rgb(180, 42, 42);
  border: 1px solid rgba(201, 201, 201, 0.02);
  box-shadow: 0px 0px 40px rgb(213, 69, 69), inset 0px 0px 24px rgba(58, 15, 15, 0.45);

  display: flex;
  align-items: center;
  text-align: center;

  flex: 1;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
}
.single_anecdote_red_circle:hover {
  box-shadow: none;
  border: none;
  margin: 0px 1px; /* Compensating lack of border */
  background-color: transparent;
}
.single_anecdote_red_circle:hover .anecdote_image {
  display: inline-block;
}
.single_anecdote_red_circle:hover .anecdote_text {
  display: none;
}

.anecdote_image {
  width: 100%;
  border-radius: 50%;
  object-fit: contain;
  object-position: center;
  display: none;
}

.anecdote_text {
  max-width: 77%;
  max-height: 82%;
  margin: auto auto;
  font-family: Raleway;
  font-size: clamp(11px, 1vw, 20px);
  font-weight: 400;
}
/*↑↑↑ ANECDOTES SECTION ↑↑↑*/  /*↑↑↑ ANECDOTES SECTION ↑↑↑*/  /*↑↑↑ ANECDOTES SECTION ↑↑↑*/


/*↓↓↓ LO_CONTENT SECTION ↓↓↓*/  /*↓↓↓ LO_CONTENT SECTION ↓↓↓*/  /*↓↓↓ LO_CONTENT SECTION ↓↓↓*/
.lo_content_background {
  background-image: url("/resources/lo_content_images/track_layout_25.png"), linear-gradient(180deg, rgba(22, 21, 21, 0.75), rgba(120, 94, 94, 0.30));
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  box-shadow: inset 0px -40px 60px -25px rgba(106, 86, 86, 0.20);
}

.lo_content_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 4%;
  row-gap: clamp(50px, 4vw, 150px);

  margin: 3.5% 6%;
  margin-bottom: 0px;
  padding-bottom: 4%;

  align-items: center;
  justify-items: center;
}


.lo_content_description {
  text-align: justify;
  font-size: clamp(16px, 1.20vw, 26px);
  color: rgba(232, 217, 213, 0.70);
}

.lo_content_image {
  width: 90%;
  height: 88%;
  object-fit: cover;

  border-radius: 4px;
  box-shadow: 2px 4px 20px rgba(16, 16, 16, 0.80);
}
/*↑↑↑ LO_CONTENT SECTION ↑↑↑*/  /*↑↑↑ LO_CONTENT SECTION ↑↑↑*/  /*↑↑↑ LO_CONTENT SECTION ↑↑↑*/


/*↓↓↓ QUOTES SECTION ↓↓↓*/  /*↓↓↓ QUOTES SECTION ↓↓↓*/  /*↓↓↓ QUOTES SECTION ↓↓↓*/
.lo_content_quotes_background {
  background-image: linear-gradient(180deg, rgba(120, 94, 94, 0.30), rgba(22, 21, 21, 0.75));
  box-shadow: inset 0px 40px 60px -25px rgba(106, 86, 86, 0.20);
}


.lo_content_quotes_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 80px;
  margin: 0px 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: 'Courier New';
  font-size: clamp(12px, 1vw, 26px);
  font-weight: bold;
  color: rgba(220, 220, 220, 0.75);
}


.single_quote_block {
  font-weight: 400;
}
/*↑↑↑ QUOTES SECTION ↑↑↑*/  /*↑↑↑ QUOTES SECTION ↑↑↑*/  /*↑↑↑ QUOTES SECTION ↑↑↑*/


/*↓↓↓ RPL SECTION ↓↓↓*/  /*↓↓↓ RPL SECTION ↓↓↓*/  /*↓↓↓ RPL SECTION ↓↓↓*/
.rpl_background {
  display: flex;
  justify-content: center;

  background-image: linear-gradient(0deg, rgba(22, 21, 21, 0.75),rgba(109, 86, 86, 0.20), rgba(22, 21, 21, 0.75));
  box-shadow: inset 0px -40px 60px -25px rgba(106, 86, 86, 0.20);
  padding-bottom: 110px;
}

.rpl_table_flagpole {
  width: 80%;
  height: 6vh;
  margin-top: 70px;
  position: sticky;
  top: 0px;

  background-image: linear-gradient(315deg, rgb(60, 60, 60), rgb(44, 44, 44));
  box-shadow: 0px 0px 70px rgba(44, 44, 44, 1.0), inset 0px 0px 20px rgba(5, 5, 5, 0.35);
  border-top-right-radius: 3vh;
  border-bottom-right-radius: 3vh;
}

.rpl_matches_table {
  border-spacing: 0px;
  text-align: center;
  box-shadow:  0px 0px 40px rgba(229, 225, 202, 0.85),  0px 0px 20px rgba(255, 255, 255, 1);
}


.table_cell_content {
  display: flex;
  align-items: center;
  justify-content: center;

  width: clamp(86px, 8vw, 200px);
  aspect-ratio: 1 / 1;
}
/*↑↑↑ RPL SECTION ↑↑↑*/  /*↑↑↑ RPL SECTION ↑↑↑*/  /*↑↑↑ RPL SECTION ↑↑↑*/