body {
  margin: 0px;
  background-color: rgb(22, 21, 21);
  min-width: 1050px;
}

p {
  margin: 0px;
  color: #F1F1F1;
}

hr {
  margin: 0px;
  border: none;
  border-top: 2px solid rgba(232, 217, 213, 0.08);
}

tr {
  background: rgba(21, 21, 20, 1.0);

  font-family: 'Courier New';
  font-size: 19px;
  color: rgba(234, 234, 230, 0.60);
  font-weight: 700;
}
th {
  font-weight: 900;
}

tr:nth-child(even) :is(td,th):nth-child(even),
tr:nth-child(odd) :is(td,th):nth-child(odd) {
  background: rgba(234, 234, 230, 1.0);
  color: rgba(21, 21, 20, 0.60);
}

tr:nth-child(2n+3) :is(td,th):nth-child(1),
tr:nth-child(even) :is(td,th):nth-child(1) {
  font-size: 24px;
  font-weight: 900;
}