.rpl_background {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  background-image: linear-gradient(0deg, rgba(22, 21, 21, 0.75),rgba(109, 86, 86, 0.20), rgba(22, 21, 21, 0.75));
  box-shadow: inset 0px -40px 60px -25px rgba(106, 86, 86, 0.20);
  padding-bottom: 110px;
}

.rpl_table_flagpole {
  width: 80%;
  height: 6vh;
  margin-top: 70px;
  position: sticky;
  top: 0px;

  background-image: linear-gradient(315deg, rgb(60, 60, 60), rgb(44, 44, 44));
  box-shadow: 0px 0px 70px rgba(44, 44, 44, 1.0), inset 0px 0px 20px rgba(5, 5, 5, 0.35);
  border-top-right-radius: 3vh;
  border-bottom-right-radius: 3vh;
  border: none;
}

.rpl_matches_table {
  margin: 0px 90px;
  border-spacing: 0px;
  text-align: center;
  box-shadow:  0px 0px 40px rgba(229, 225, 202, 0.85),  0px 0px 20px rgba(255, 255, 255, 1);
}


.table_cell_content {
  display: flex;
  align-items: center;
  justify-content: center;

  width: clamp(86px, 8vw, 200px);
  aspect-ratio: 1 / 1;
}